@mixin transition($place, $time, $ease) {
	-moz-transition: $place $time $ease;
	-webkit-transition: $place $time $ease;
	-o-transition-property: $place $time $ease;
	-ms-transition-property: $place $time $ease;
	transition-property: $place $time $ease;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,input[type="text"]{
	-webkit-appearance: none;
	border-radius: 0;
}
html, body{
	height: 100%;
    overflow: hidden;
    #stage{
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    overflow: auto;
    }
}

body{
	padding: 0;
	margin: 0;
	background-color: black;
	font-size: 100%;
	&.producer{
		background-color: white;
		overflow: scroll;
		.holder_all{
			display: flex;
			flex-wrap: wrap;
		}
		.board_info{
			width: 59.5%;
			border: 1px solid black;
			.round_control{
				border-bottom: 1px solid black;
				display: flex;
				flex-direction: row;
				button{
					display: block;
					width: 25%;
					height: 75px;
				}
			}
			.question_control{
				border-bottom: 1px solid black;
				display: none;
				flex-direction: row;
				flex-wrap: wrap;
				p{
					text-align: center;
					margin: 15px auto 5px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 24px;
					width: 100%;
				}
				textarea{
					width: 100%;
					height: 80px;
					padding: 15px;
					font-size: 16px;
				}
				input[type="text"]{
					width: calc(100% / 3);
					font-size: 16px;
					box-sizing: border-box;
					padding: 5px;
					&.right{
						background-color: #a4ffa4;
					}
					&.wrong{
						background-color: #ff7d7d;
					}
				}
				button{
					display: block;
					&.questionload{
						width: 10%;
						height: 50px;
						&.used{
							background-color: red;
						}
					}
					&.questioncontrol{
						width: calc(100% / 7);
						height: 50px;
					}
				}
			}
			.spin_control{
				border-bottom: 1px solid black;
				display: none;
				flex-direction: row;
				flex-wrap: wrap;
				p{
					text-align: center;
					margin: 15px auto 5px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 24px;
					width: 100%;
				}
				textarea{
					width: 100%;
					height: 80px;
					padding: 15px;
					font-size: 16px;
				}
				input[type="text"]{
					width: calc(100% / 3);
					font-size: 16px;
					box-sizing: border-box;
					padding: 5px;
					&.right{
						background-color: #a4ffa4;
					}
					&.wrong{
						background-color: #ff7d7d;
					}
				}
				button{
					display: block;
					&.questionload{
						width: 10%;
						height: 50px;
						&.used{
							background-color: red;
						}
					}
					&.questioncontrol{
						width: calc(100% / 7);
						height: 50px;
					}
				}
			}
			.bonus_control{
				display: none;
				flex-direction: row;
				flex-wrap: wrap;
				p{
					text-align: center;
					margin: 15px auto 5px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 24px;
					width: 100%;
				}
				button{
					width: calc(100% / 7);
					height: 50px;
				}
			}
			.board_control{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				p{
					text-align: center;
					margin: 15px auto 5px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 24px;
					width: 100%;
				}
				button, input[type="text"]{
					width: 20%;
					height: 50px;
					&.smaller{
						width: 15%;
					}
				}
				input[type="text"]{
					width: 60%;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					text-align: center;
					font-size: 22px;
				}
			}
			.host_screen_control{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				textarea{
					width: 100%;
					border: 0;
					outline: 0;
					height: 100px;
					padding: 10px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					border-bottom: 1px solid black;
					border-top: 1px solid black;
					font-size: 16px;
				}
				p{
					text-align: center;
					margin: 15px auto 5px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 24px;
					width: 100%;
				}
				button, input[type="text"]{
					width: 20%;
					height: 50px;
				}
				input[type="text"]{
					width: 60%;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					text-align: center;
					font-size: 22px;
				}
			}
		}
		.player_info{
			border: 1px solid black;
			width: 40%;
			.the_player, .the_champion{
				border-bottom: 1px solid black;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				&.off{
					display: none;
				}
				p{
					text-align: center;
					margin: 0 auto;
					padding: 5px 0;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 24px;
					width: 60%;
					&.active{
						background-color: #ff8100;
					}
				}
				input[type="text"]{
					height: 35px;
					width: 40%;
					margin: 0 auto;
					display: block;
					box-sizing: border-box;
					border: 1px solid black;
					text-align: center;
					font-size: 20px;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
				}
				.details{
					width: 60%;
					border-top: 1px solid black;
					.holder{
						width: 100%;
						margin: 0 auto;
						display: flex;
						align-items: center;
						flex-direction: row;
						label{
							width: 30%;
							border: 1px solid black;
							text-align: center;
							color: white;
							background-color: black;
							font-family: 'DINNeuzeitGroteskStd-BdCond';
							font-size: 20px;
							height: 33px;
							line-height: 33px;
						}
						input[type="text"]{
							height: 35px;
							width: 70%;
							margin: 0 auto;
							display: block;
							box-sizing: border-box;
							border: 1px solid black;
							text-align: center;
							font-size: 20px;
							font-family: 'DINNeuzeitGroteskStd-BdCond';
						}
					}
				}
				.controls{
					border-top: 1px solid black;
					width: 39.7%;
					border-left: 1px solid black;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					button{
						display: block;
						width: 50%;
						
					}
				}
			}
		}
	}
	&#host_screen{
		.player_area{
			width: 100%;
			display: flex;
			flex-direction: row;
			margin-bottom: 2.5em;
			.col{
				width: 33.3%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				border-right: 10px solid black;
				&:last-child{
					border-right: 0;
				}
				.colinside{
					width: 33.3%;
					label{
						width: calc(100% - 1px);
					    height: 35px;
					    background-color: #8cc3e2;
					    display: block;
					    text-align: center;
					    line-height: 35px;
					    border: 1px solid black;
					    font-family: 'DINNeuzeitGroteskStd-BdCond';
					    font-size: 20px;
					}
					input[type="text"]{
						width: 100%;
						box-sizing: border-box;
						font-family: 'DINNeuzeitGroteskStd-BdCond';
						height: 50px;
						border: 0px;
						outline: 0;
						font-size: 25px;
						text-align: center;
						border-left: 1px solid black;
					}
					&:last-child{
						input[type="text"]{
						}
					}
				}
				.name, .score{
					width: 100%;
					border-right: 0px;
					input[type="text"]{
						border-left: 0;
					}
				}
				&.active{
					.colinside{
						label, input[type="text"]{
							background-color: #fff700;
						}
					}
				}
			}
		}
		.question_area,.message_area{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 2.5em;
			h2{
				width: 100%;
				height: 35px;
			    background-color: #8cc3e2;
			    display: block;
			    text-align: center;
			    line-height: 35px;
			    border: 1px solid black;
			    font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-size: 20px;
			    margin: 0;
			}	
			textarea{
				width: 100%;
				box-sizing: border-box;
				border: 1px solid black;
				font-size: 24px;
				padding: 5px 15px;
				height: 150px;
			}
			input[type="text"]{
				width: 33.3%;
				box-sizing: border-box;
				font-family: 'DINNeuzeitGroteskStd-BdCond';
				height: 50px;
				border: 0px;
				outline: 0;
				font-size: 25px;
				text-align: center;
				border-left: 1px solid black;
				&.correct{
				    background-color: #0ef922;
			    }
			    &.wrong{
				    background-color: red;
			    }
			}
		}
		.question_area{
			display: none;
		}
		.board_area{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 2.5em;
			display: none;
			h2{
				width: 100%;
				height: 35px;
			    background-color: #8cc3e2;
			    display: block;
			    text-align: center;
			    line-height: 35px;
			    border: 1px solid black;
			    font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-size: 20px;
			    margin: 0;
			}	
			.left_col{
				width: 35%;
				border-right: 10px solid black;
			}
			.col{
				width: 100%;
				display: flex;
				flex-direction: row;
				border-bottom: 2px solid black;
				label{
					width: 40%;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 20px;
					color: black;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background-color: #8cc3e2;
				}
				input[type="text"]{
					width: 60%;
					height: 40px;
				}
			}
			.right_col{
				width: calc(65% - 10px);
			}
			textarea{
				width: 100%;
				box-sizing: border-box;
				border: 1px solid black;
				font-size: 24px;
				padding: 5px 15px;
				height: 150px;
			}
			input[type="text"]{
				width: 33.3%;
				box-sizing: border-box;
				font-family: 'DINNeuzeitGroteskStd-BdCond';
				height: 50px;
				border: 0px;
				outline: 0;
				font-size: 25px;
				text-align: center;
				border-left: 1px solid black;
				&.correct{
				    background-color: #0ef922;
			    }
			    &.wrong{
				    background-color: #4b1c1b;
			    }
			}
		}
		.bonus_area{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 2.5em;
			display: none;
			h2{
				width: 100%;
				height: 35px;
			    background-color: #8cc3e2;
			    display: block;
			    text-align: center;
			    line-height: 35px;
			    border: 1px solid black;
			    font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-size: 20px;
			    margin: 0;
			}	
			.left_col{
				width: 35%;
				border-right: 10px solid black;
			}
			.col{
				width: 100%;
				display: flex;
				flex-direction: row;
				border-bottom: 2px solid black;
				label{
					width: 40%;
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-size: 20px;
					color: black;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background-color: #8cc3e2;
				}
				input[type="text"]{
					width: 60%;
					height: 40px;
				}
			}
			.right_col{
				width: calc(65% - 10px);
			}
			textarea{
				width: 100%;
				box-sizing: border-box;
				border: 1px solid black;
				font-size: 24px;
				padding: 5px 15px;
				height: 150px;
			}
			input[type="text"]{
				width: 33.3%;
				box-sizing: border-box;
				font-family: 'DINNeuzeitGroteskStd-BdCond';
				height: 50px;
				border: 0px;
				outline: 0;
				font-size: 25px;
				text-align: center;
				border-left: 1px solid black;
				&.correct{
				    background-color: #0ef922;
			    }
			    &.wrong{
				    background-color: #4b1c1b;
			    }
			}
		}
	}
}
#board_holder{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

#text_ribbon{
	position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 0%;
    height: 150px;
    margin: auto;
    overflow: hidden;
    z-index: 5;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.6) 85%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 15%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 15%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.6) 85%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    @include transition(width, 0.20s, ease-out);
    &.show{
	    width: 90%;
    }
    #ribbon_content{
	    width: 100%;
	    height: 100%;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		p{
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			color: white;
			text-align: center;
			font-size: 2em;
			margin: 0;
			width: 100%;
			&.btns{
				max-width: 400px;
			    display: flex;
			    flex-direction: row;
			    justify-content: space-between;
			    margin-top: 0.2em;
			}
			button{
				display: block;
			    -webkit-appearance: none;
			    border: 0.25em solid #8d0802;
			    font-family: 'DINNeuzeitGroteskStd-BdCond';
			    color: white;
			    background-color: transparent;
			    margin: 0;
			    padding: 0.5em 0.5em;
			    line-height: 1em;
			    font-size: 1.4rem;
			    cursor: pointer;
			    @include transition(border-color, 0.15s, ease-out);
			    &:hover{
				    border-color: white;
			    }
			    &:active, &:focus{
				    outline: none;
			    }
			}
		}
		@include transition(opacity, 0.20s, ease-out);
		&.show{
			opacity: 1;
		}
    }
}

#toggles{
	position: absolute;
	left: 0;
	z-index: 6;
	top: 0;
// 	display: none;
	button{
		display: block;
		&#pyl, &#walkaway, &#takemoney, &#losewhammy{
			display: none;
		}
	}
	label{
		color: white;
	}
	textarea{
		width: 250px;
		height: 300px;
	}
}
#bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 1;
	@include transition(opacity, 0.25s, linear);
	&.preload{
		opacity: 0;
	}
	#goldbg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../img/board_standby.jpg);
		background-size: 1438px;
	    background-position: 50%;
	    background-repeat: no-repeat;
	    @include transition(opacity, 0.2s, linear);
	    z-index: 1;
	    opacity: 1;
	    &.show{
			opacity: 1;
		}
	}
	#bluebg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../img/board_blue.jpg);
		background-size: 1438px;
	    background-position: 50%;
	    background-repeat: no-repeat;
	    @include transition(opacity, 0.2s, linear);
	    z-index: 2;
	    opacity: 0;
	    &.show{
			opacity: 1;
		}
	}
	#redbg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../img/board_red.jpg);
		background-size: 1438px;
	    background-position: 50%;
	    background-repeat: no-repeat;
	    @include transition(opacity, 0.2s, linear);
	    z-index: 3;
	    opacity: 0;
	    &.show{
			opacity: 1;
		}
	}
}
#game_setup{
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 3;
	height: 100%;
	display: none;
	&.play{
		display: none;
	}
	#code_area{
		text-align: center;
		width: 250px;
		margin: 0 auto 0;
		top: 2em;
		position: absolute;
		left: 0;
		right: 0;
		p.label{
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			color: white;
			margin: 0;
			font-size: 2em;
		}
		input[type="text"]{
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			color: white;
			background-image: url(../img/onlyscore_empty.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: transparent;
			border: 0;
			outline: 0;
			width: 190px;
			text-align: center;
			font-size: 2em;
			height: 59px;
		}
	}
	#player_names{
		position: absolute;
		bottom: 2em;
		text-align: center;
		margin: 0 auto 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		.player{
			width: 190px;
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}	
		}
		p.label{
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			color: white;
			margin: 0;
			font-size: 2em;
		}
		input[type="text"]{
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			color: white;
			background-image: url(../img/onlyscore_empty.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: transparent;
			border: 0;
			outline: 0;
			width: 190px;
			text-align: center;
			font-size: 2em;
			height: 59px;
		}
	}
}
#player_holder{
	width: 1002px;
	height: 200px;
	background-color: black;
	border: 2px solid #c18400;
	position: fixed;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 6;
	display: none;
	&.active{
		display: flex;
		flex-direction: row;
	}
	.player{
		width: 334px;
		height: 100%;
		position: relative;
		.thewhammies{
			position: absolute;
			top: -36px;
			overflow: hidden;
			width: 90%;
			margin: auto;
			left: 0;
			right: 0;
			img{
				width: 31px;
				height: auto;
				position: relative;
				top: 36px;
				@include transition(top, 0.1s, ease-out);
				&#p1w3,&#p2w3,&#p3w3{
					margin-left: 162px;
				}
				&.active{
					top: 4px;
				}
			}
		}
		.playername{
			background-color: black;
			border: 2px solid #93604a;
			width: 150px;
			position: absolute;
			left: 0;
			right: 0;
			top: -39px;
			margin: 0 auto;
			&.buzzin{
				border: 2px solid white;
			}
			span{
				text-align: center;
				font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-weight: 700;
			    font-size: 1.25em;
			    text-transform: uppercase;
			    color: white;
			    display: block;
			    padding: 0.25em 0;
			    height: 24px;
			}
		}
		.scorezone{
			background-image: url(../img/onlyscore_empty_standby.png);
			max-width: 80%;
			height: 85px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			margin: 1em auto 0;
			position: relative;
			&.active{
				background-image: url(../img/onlyscore_empty.png);
			}
			.thescore{
				font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-weight: 700;
			    text-shadow: 2px 2px 3px #000;
			    font-size: 2.8em;
			    color: white;
			    position: absolute;
			    width: 100%;
			    left: 0%;
			    margin: 0;
			    top: 19px;
			    #dollarsign{
				    margin-left: 10%;
				    width: 9%;
				    display: inline-block;
			    }
			    .dollartotal{
				    width: 67%;
				    display: inline-block;
				    text-align: right;
			    }
			}
			&.blinkscore{
				animation: blinkscorePod 0.25s linear 0s infinite normal;
			}
			&.showspins{
				background-image: url(../img/spins_notbuzz.png);
				.thescore{
					display: none;
				}
				&.buzzedin{
					background-image: url(../img/spins_buzz.png);
				}
				&.blink{
					animation: blinkPod 0.25s linear 0s infinite normal;
				}
			}
		}
		.spin_area{
			max-width: 79%;
			margin: 0.5em auto 0;
			position: relative;
			display: flex;
			flex-direction: row;
			.spinspot{
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				width: 31%;
				height: 74px;
				margin-right: 3.5%;
				align-items: center;
				justify-content: center;
				display: flex;
				opacity: 0;
				&.show{
					display: flex;
					opacity: 1;
				}
				&.passed{
					background-image: url(../img/onlypassedspins_display.png);
				}
				&.spins{
					background-image: url(../img/onlyspins_display.png);
				}
				&.center{
					background-image: url(../img/earnedpassed.png);
					span{
						display: none;
					}
				}
				&:last-child{
					margin-right: 0;
				}
				span{
					font-family: 'DINNeuzeitGroteskStd-BdCond';
					font-weight: 700;
					text-shadow: 2px 2px 3px #000;
				    font-size: 3em;
				    color: white;
				    text-align: center;
				    margin-top: 0.13em;
				}
			}
		}
	}
}
#board{
	position: relative;
	background-color: black;
	border: 3px solid black;
	top: -8px;
	#answers{
		position: absolute;
	    width: 100%;
	    z-index: 5;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	    display: none;
	    &.active{
		    display: flex;
	    }
	    p{
		    font-family: 'DINNeuzeitGroteskStd-BdCond';
			font-weight: 900;
			text-shadow: 2px 2px 3px #000;
		    font-size: 2.8em;
		    color: white;
		    height: 54px;
		    text-align: center;
		    display: block;
		    width: 100%;
		    margin: 0.5em;
		    &.correct{
			    color: #0ef922;
		    }
		    &.wrong{
			    color: #4b1c1b;
		    }
	    }
	}
	#board_bg{
		background-image: url(../img/basebg.png);
		background-size: 98%;
		background-position: center center;
		background-repeat: no-repeat;
		width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 2;
	    @include transition(opacity, 0.25s, ease-out);
	    &.preload{
		    opacity: 0;
	    }
	}
	#center{
		position: absolute;
	    width: 31.25em;
	    height: 22.5em;
	    top: 8.6em;
	    left: 8.25em;
// 	    cursor: pointer;
	    perspective: 1000px;
	    z-index: 4;
	    @include transition(opacity, 0.25s, ease-out);
	    &.dim{
		    opacity: 0.5;
	    }
	    &.preload{
		    opacity: 0;
	    }
		#center_logo{
		    background-image: url(../img/logo.png);
		    width: 100%;
		    height: 100%;
		    background-size: cover;
			background-repeat: no-repeat;
		    background-position: center center;
	    }
	    #scorecenter{
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: calc(100% - 2.6em);
		    height: calc(100% - 2.6em);
		    padding: 1.3em;
		    display: flex;
		    align-items: center;
			justify-content: center;
  			display: none;
			z-index: 2;
			background-image: url(../img/monitorpodium.jpg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 135%;
			#buzzer{
				position: absolute;
			    top: 19.2%;
				left: 45%;
			    margin: auto;
			    background-image: url(../img/buzzer.jpg);
			    background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center center;
			    width: 41px;
			    height: 41px;
			    z-index: 5;
			    cursor: pointer;
			    &.press{
				    -webkit-animation-name: buzzerpress; /* Safari 4.0 - 8.0 */
				    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
				    -webkit-animation-iteration-count: 1;
				    animation-name: buzzerpress;
				    animation-duration: 0.5s;
				    animation-iteration-count: 1;
			    }
			}
			.whammycenter{
				position: absolute;
			    width: 73%;
			    height: 50px;
			    top: 17.5%;
			    left: 0;
			    right: 0;
			    margin: auto;
			    overflow: hidden;
				.whammypopup{
					background-image: url(../img/whammy_popup.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					height: 50px; 
					width: 50px;
					position: absolute;
					top: 50px;
					@include transition(top, 0.25s, ease-out);
					&#whammy1{
						left: 0;
					}
					&#whammy2{
						left: 20%;
					}
					&#whammy3{
						right: 20%;
					}
					&#whammy4{
						right: 0
					}
					&.active{
						top: 0;
					}
				}
			}
			&:after{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-image: url(../img/border.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				z-index: 2;
			}
			p{
				font-family: 'DINNeuzeitGroteskStd-BdCond';
				font-weight: 700;
				text-shadow: 2px 2px 3px #000;
			    font-size: 2em;
			    color: white;
				&#score{
					font-family: 'DINNeuzeitGroteskStd-BdCond';
				    font-weight: 700;
				    text-shadow: 2px 2px 3px #000;
				    font-size: 2.8em;
				    color: white;
				    position: absolute;
				    width: 43.5%;
				    left: 20%;
				    margin: 0;
				    top: 42.5%;
				    #dollarsign{
					    margin-left: 10%;
					    width: 9%;
					    display: inline-block;
				    }
				    #dollartotal{
					    width: 67%;
					    display: inline-block;
					    text-align: right;
				    }
				}
				&#spinstotal{
					font-family: 'DINNeuzeitGroteskStd-BdCond';
				    font-weight: 700;
				    text-shadow: 2px 2px 3px #000;
				    font-size: 2.8em;
				    color: white;
				    position: absolute;
				    width: 12.5%;
					right: 18.3%;
				    margin: 0;
				    top: 42.5%;
				    text-align: center;
				}
			}
		}
	    #frame_content{
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: calc(100% - 2.6em);
		    height: calc(100% - 2.6em);
		    padding: 1.3em;
		    transform: rotateX(-90deg);
		    display: flex;
		    align-items: center;
			justify-content: center;
		    h2{
			    font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-weight: 600;
			    text-shadow: 2px 2px 3px #000;
			    font-size: 2em;
			    color: white;
			    max-width: 90%;
			    margin: 0.5em auto 0.5em;
			    transform: rotateX(180deg);
		    }
		    p{
			    font-family: 'DINNeuzeitGroteskStd-BdCond';
			    font-weight: 600;
			    text-shadow: 2px 2px 3px #000;
			    font-size: 1.25em;
			    color: white;
			    max-width: 90%;
			    margin: 0 auto 0.5em;
			    transform: rotateX(180deg);
		    }
	    }
	    #center_frame{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-image: url(../img/border.png);
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center center;
		    z-index: 2;
		    transform: rotateX(-90deg);
	    }
	    .fliphalf{
		   transform: rotateX(-90deg) !important; 
	    }
	    .flipfull{
		   transform: rotateX(-180deg) !important; 
	    }
	    .flipfullhalf{
		   transform: rotateX(-270deg) !important; 
	    }
	    .flipfullfull{
		   transform: rotateX(-360deg) !important; 
	    }
	    img{
		    max-width: 100%;
		    height: auto;
	    }
	    .fliptrans{
		    @include transition(transform, 0.4s, linear);
	    }
	}
	#squares{
		position: relative;
		width: 47.8em;
		height: 39.8em;
		z-index: 3;
		@include transition(opacity, 0.25s, ease-out);
	    &.preload{
		    opacity: 0;
	    }
	}
	.square{
		width: 6.25em;
		height: 6.25em;
		border: 0.75em solid #8d0802;
		border-image: url(../img/red_border.png) 20;
// 		background-color: red;
		position: absolute;
		@include transition(border-color, 0.1s, ease-out);
		&#startgame, &#startrules{
			cursor: pointer;
			&:hover{
				border-color: white;
				border-image: url(../img/white_border.png) 20;
			}
		}
		&.flash{
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/centerburst.png);
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				z-index: 3;
			    opacity: 0.0;
			    -webkit-animation-name: burstfade; /* Safari 4.0 - 8.0 */
			    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
			    -webkit-animation-iteration-count: 1;
			    animation-name: burstfade;
			    animation-duration: 1s;
			    animation-iteration-count: 1;
			}
		}
		&.active{
			border-color: white;
			border-image: url(../img/white_border.png) 20;
		}
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 5;
			-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
			-moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
			box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		}
		&[data-square="1"] {
		    top: 0;
		    left: 0;
		}
		&[data-square="2"] {
		    top: 0;
		    left: 8em;
		}
		&[data-square="3"] {
		    top: 0;
		    left: 16em;
		}
		&[data-square="4"] {
		    top: 0;
		    left: 24em;
		}
		&[data-square="5"] {
		    top: 0;
		    left: 32em;
		}
		&[data-square="6"] {
		    top: 0;
		    left: 40em;
		}
		&[data-square="7"] {
		    top: 8em;
		    left: 40em;
		}
		&[data-square="8"] {
		    top: 16em;
		    left: 40em;
		}
		&[data-square="9"] {
		    top: 24em;
		    left: 40em;
		}
		&[data-square="10"] {
		    top: 32em;
		    left: 40em;
		}
		&[data-square="11"] {
		    top: 32em;
		    left: 32em;
		}
		&[data-square="12"] {
		    top: 32em;
		    left: 24em;
		}
		&[data-square="13"] {
		    top: 32em;
		    left: 16em;
		}
		&[data-square="14"] {
		    top: 32em;
		    left: 8em;
		}
		&[data-square="15"] {
		    top: 32em;
		    left: 0em;
		}
		&[data-square="16"] {
		    top: 24em;
		    left: 0;
		}
		&[data-square="17"] {
		    top: 16em;
		    left: 0;
		}
		&[data-square="18"] {
		    top: 8em;
		    left: 0;
		}
		.item, .itemsingle{
			width: 100%;
			height: 33.3%;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			font-family: 'DINNeuzeitGroteskStd-BdCond';
// 			font-weight: 600;
			text-shadow: 2px 2px 3px #000000;
			font-size: 1.8em;
			line-height: 1em;
			&.itemsinglefade{
				position: absolute;
				top: 0;
				z-index: 3;
				opacity: 0;
				display: flex;
				visibility: hidden;
				&.animate{
					@include transition(opacity, 0.2s, ease-out);
				}
				&.reveal{
					visibility: visible;
				}
				&.show{
					opacity: 1;
					z-index: 3;
				}
				&.fade{
					opacity: 0;
				}
			}
			sup{
				font-size: 0.75em;
			    position: relative;
			    top: 0.3em;
			    margin-right: 2px;
			}
			&.bigbucks{
				span{
					line-height: 1em;
				}
			}
			span{
				&.plus{
					display: block;
					margin: -0.2em 0 0.1em;
// 					margin: -0.4em 0 -0.2em;
				}
				&.spin{
					display: block;
				}
			}
		}
		.item{
			height: 100%;
			&.blue, &.aqua, &.fuscia, &.red, &.purple, &.orange, &.lightgreen, &.darkgreen{
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0.75+0,0.5+15,0.25+50,0.5+85,0.75+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 15%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.5) 85%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 15%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.5) 85%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 15%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.5) 85%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/cfx.png);
					background-size: 95%;
					background-position: center center;
					background-repeat: no-repeat;
					z-index: 2;
				}
				span{
					position: relative;
					z-index: 3;
				}
			}
		}
	}
	.blue{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#19155e+0,281fb6+50,19155e+100 */
			background: #19155e; /* Old browsers */
			background: -moz-linear-gradient(top, #19155e 0%, #281fb6 50%, #19155e 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #19155e 0%,#281fb6 50%,#19155e 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #19155e 0%,#281fb6 50%,#19155e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19155e', endColorstr='#19155e',GradientType=0 ); /* IE6-9 */
		}
		.aqua{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#044432+0,1fbc90+50,044432+100 */
			background: #044432; /* Old browsers */
			background: -moz-linear-gradient(top, #044432 0%, #1fbc90 50%, #044432 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #044432 0%,#1fbc90 50%,#044432 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #044432 0%,#1fbc90 50%,#044432 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044432', endColorstr='#044432',GradientType=0 ); /* IE6-9 */
		}
		.fuscia{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32132c+0,661251+50,32132c+100 */
			background: #32132c; /* Old browsers */
			background: -moz-linear-gradient(top, #32132c 0%, #661251 50%, #32132c 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #32132c 0%,#661251 50%,#32132c 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #32132c 0%,#661251 50%,#32132c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32132c', endColorstr='#32132c',GradientType=0 ); /* IE6-9 */
		}
		.red{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b1c1b+0,a52314+50,4b1c1b+100 */
			background: #4b1c1b; /* Old browsers */
			background: -moz-linear-gradient(top, #4b1c1b 0%, #a52314 50%, #4b1c1b 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #4b1c1b 0%,#a52314 50%,#4b1c1b 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #4b1c1b 0%,#a52314 50%,#4b1c1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b1c1b', endColorstr='#4b1c1b',GradientType=0 ); /* IE6-9 */
		}
		.purple{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#281551+0,561da1+50,281551+100 */
			background: #281551; /* Old browsers */
			background: -moz-linear-gradient(top, #281551 0%, #561da1 50%, #281551 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #281551 0%,#561da1 50%,#281551 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #281551 0%,#561da1 50%,#281551 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281551', endColorstr='#281551',GradientType=0 ); /* IE6-9 */
		}
		.orange{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4f2016+0,a8441f+50,4f2016+100 */
			background: #4f2016; /* Old browsers */
			background: -moz-linear-gradient(top, #4f2016 0%, #a8441f 50%, #4f2016 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #4f2016 0%,#a8441f 50%,#4f2016 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #4f2016 0%,#a8441f 50%,#4f2016 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f2016', endColorstr='#4f2016',GradientType=0 ); /* IE6-9 */
		}
		.darkgreen{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#162413+0,1a3d27+50,162413+100 */
			background: #162413; /* Old browsers */
			background: -moz-linear-gradient(top, #162413 0%, #1a3d27 50%, #162413 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #162413 0%,#1a3d27 50%,#162413 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #162413 0%,#1a3d27 50%,#162413 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162413', endColorstr='#162413',GradientType=0 ); /* IE6-9 */
		}
		.lightgreen{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d6114+0,29d138+50,0d6114+100 */
			background: #0d6114; /* Old browsers */
			background: -moz-linear-gradient(top, #0d6114 0%, #29d138 50%, #0d6114 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #0d6114 0%,#29d138 50%,#0d6114 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #0d6114 0%,#29d138 50%,#0d6114 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6114', endColorstr='#0d6114',GradientType=0 ); /* IE6-9 */
		}
		.centerburst{
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/centerburst.png);
				background-size: 125%;
				background-position: center center;
				background-repeat: no-repeat;
				z-index: 3;
				-moz-transform: scaleY(-1);
			    -o-transform: scaleY(-1);
				-webkit-transform: scaleY(-1);
				transform: scaleY(-1);
			    filter: FlipV;
			    -ms-filter: "FlipV";
			    opacity: 0.8;
			    @include transition(opacity, 1s, ease-out);
			}	
			&.removeburst{
				&:before{
					opacity: 0;
				}
			}
		}
		.greenspiralcenter{
			background-color: #0e704a;
			background-image: url(../img/greenspiral.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/cfx.png);
				background-size: 90%;
				background-position: center center;
				background-repeat: no-repeat;
				z-index: 1;
				-moz-transform: scaleY(-1);
			    -o-transform: scaleY(-1);
			    -webkit-transform: scaleY(-1);
			    transform: scaleY(-1);
			    filter: FlipV;
			    -ms-filter: "FlipV";
			}
			div{
				z-index: 2;
				position: relative;
				-moz-transform: scaleY(-1);
			    -o-transform: scaleY(-1);
			    -webkit-transform: scaleY(-1);
			    transform: scaleY(-1);
			    filter: FlipV;
			    -ms-filter: "FlipV";
			    color: white;
				font-family: 'DINNeuzeitGroteskStd-BdCond';
// 				font-weight: 600;
				text-shadow: 4px 4px 13px #000;
				font-size: 7.5em;
				top: -0.1em;
				text-align: center;
			    sup{
					font-size: 0.75em;
				    position: relative;
				    top: 0.3em;
				    margin-right: 2px;
				}
			    .bb{
					line-height: 0.9em;
			    }
			}
			&.smaller{
				div{
					font-size: 7.5em;
				}
			}
		}
		.blueprize{
			background-color: #1a24b7;
		}
		.purpleprize{
			background-color: #3f27b8;
		}
		.redprize{
			background-color: #ca1358;
		}
		.whammya{
			background-color: #e3f565;
			background-image: url(../img/whammy1.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 90%;
			color: red !important;
			span{
				display: none;
			}
		}
		.whammyb{
			background-color: #e3f565;
			background-image: url(../img/whammy2.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 90%;
			color: red !important;
			span{
				display: none;
			}
		}
		.whammyc{
			background-color: #e3f565;
			background-image: url(../img/whammy3.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 90%;
			color: red !important;
			span{
				display: none;
			}
		}
		.whammyd{
			background-color: #e3f565;
			background-image: url(../img/whammy4.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 90%;
			color: red !important;
			span{
				display: none;
			}
		}
		.whammye{
			background-color: #e3f565;
			background-image: url(../img/whammy5.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 90%;
			color: red !important;
			span{
				display: none;
			}
		}
		.whammyf{
			background-color: #e3f565;
			background-image: url(../img/whammy6.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 90%;
			color: red !important;
			span{
				display: none;
			}
		}
		.bigbucks{
			background-color: #0e704a;
			background-image: url(../img/greenspiral.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 150%;
		}
		.bigbucksbright{
			background-color: #0e704a;
			background-image: url(../img/brightgreenspiral.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 150%;
			span{
				line-height: 0.9em;
				color: #ffeda8;
				span{
					display: block;
				    font-size: 0.75em;
				    margin: 0px 0 3px;
				}
			}
		}
		.move{
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#24662e+0,0f561e+10,0e290d+15,0e290d+15,171003+50,0e290d+85,0f561e+90,0f561e+90,24662e+100 */
background: rgb(36,102,46); /* Old browsers */
background: -moz-linear-gradient(top, rgba(36,102,46,1) 0%, rgba(15,86,30,1) 10%, rgba(14,41,13,1) 15%, rgba(14,41,13,1) 15%, rgba(23,16,3,1) 50%, rgba(14,41,13,1) 85%, rgba(15,86,30,1) 90%, rgba(15,86,30,1) 90%, rgba(36,102,46,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(36,102,46,1) 0%,rgba(15,86,30,1) 10%,rgba(14,41,13,1) 15%,rgba(14,41,13,1) 15%,rgba(23,16,3,1) 50%,rgba(14,41,13,1) 85%,rgba(15,86,30,1) 90%,rgba(15,86,30,1) 90%,rgba(36,102,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(36,102,46,1) 0%,rgba(15,86,30,1) 10%,rgba(14,41,13,1) 15%,rgba(14,41,13,1) 15%,rgba(23,16,3,1) 50%,rgba(14,41,13,1) 85%,rgba(15,86,30,1) 90%,rgba(15,86,30,1) 90%,rgba(36,102,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24662e', endColorstr='#24662e',GradientType=0 ); /* IE6-9 */
			&.forwardtwo, &.backtwo{
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/leftarrow.png);
					background-position: 45% 50%;
					background-repeat: no-repeat;
					background-size: 75%;
				}
				span{
					position: relative;
					z-index: 2;
					&.word{
						display: block;
						color: #f8f7a5;
					    font-size: 0.75em;
					    top: 0.12em;
					    left: 0.25em;
					    text-shadow: 0px 0px 2px #f8f7a5;
					    &.moveword{
						    top: 0.35em;
							left: 0.3em;
					    }
					    &.spaces{
						    top: 0;
							left: 0.35em;
					    }
					}
					&.num{
						display: block;
					    color: #1b0100;
					    font-size: 0.8em;
					    top: 0.13em;
					    left: 0.25em;
					    text-shadow: 0px 0px 2px #000;
					}
				}
			}
			&.across{
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/rightarrow.png);
					background-position: 62% 50%;
					background-repeat: no-repeat;
					background-size: 75%;
				}
				span{
					position: relative;
					z-index: 2;
					&.word{
						display: block;
						color: #f8f7a5;
					    font-size: 0.6em;
					    top: 0.12em;
					    left: 0.25em;
					    line-height: 1em;
					    text-shadow: 0px 0px 2px #f8f7a5;
					    &.moveword{
						   	top: 0.05em;
						    left: 0.0em;
					    }
					    &.spaces{
						    top: 0.2em;
							left: 0.05em;
					    }
					}
					&.num{
						display: block;
					    color: #1b0100;
					    font-size: 0.6em;
					    top: 0.12em;
					    left: 0.05em;
					    text-shadow: 0px 0px 2px #000;
					}
				}
			}
			&.leftright{
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/movehorizontal.png);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 90%;
				}
				span{
					position: relative;
					z-index: 2;
					&.word{
						display: block;
						color: #f8f7a5;
					    font-size: 0.75em;
					    top: 0.12em;
					    left: 0.1em;
					    text-shadow: 0px 0px 2px #f8f7a5;
					    &.moveword{
						    top: 0.35em;
							left: 0.1em;
					    }
					    &.spaces{
						    top: 0;
							left: 0.10em;
					    }
					}
					&.num{
						display: block;
					    color: #1b0100;
					    font-size: 0.75em;
					    top: 0.16em;
					    left: 0.07em;
					    text-shadow: 0px 0px 2px #000;
					}
				}
			}
			&.updown{
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../img/movevertical.png);
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 60%;
				}
				span{
					position: relative;
					z-index: 2;
					&.word{
						display: block;
						color: #f8f7a5;
					    font-size: 0.7em;
					    top: 0.12em;
					    left: 0.1em;
					    text-shadow: 0px 0px 2px #f8f7a5;
					    &.moveword{
						    top: 0.6em;
						    left: 0;
						    background-color: #171003;
						    font-size: 0.4em;
						    padding: 0.1em 1em 0;
						    line-height: 1em;
					    }
					    &.spaces{
						    top: -0.65em;
						    left: 0;
						    background-color: #171003;
						    font-size: 0.4em;
						    padding: 0.1em 1em 0;
						    line-height: 1em;
					    }
					}
					&.num{
						display: block;
					    color: #1b0100;
					    font-size: 0.6em;
					    margin: 0.1em 0;
					    top: 0.1em;
					    left: 0;
					    text-shadow: 0px 0px 2px #000;
					}
				}
			}
			&.losewhammy{
				span{
					span{
						font-size: 0.75em;
						display: block;
						color: #fffec4;
						text-shadow: 0px 0px 2px #f8f7a5;
						line-height: 1em;
						&.or{
							font-size: 0.4em;
							margin: 0.5em 0;
						}
						&.lose{
							line-height: 1em;
						}
					}
				}
			}
		}
}

header{
	width: 100%;
    height: 50px;
    background-image: url(../img/scorebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
	p#playername{
		font-family: 'DINNeuzeitGroteskStd-BdCond';
		color: white;
		text-transform: uppercase;
		font-size: 2em;
		margin: 0;
		padding: 0;
		text-shadow: 2px 2px 3px #000;
	}
}
#buzzer{
	width: 93%;
    margin: 1em auto 0;
    max-width: 606px;
    #thebuzzer{
	    width: 75%;
	    height: 0;
	    padding-bottom: 75%;
	    border-radius: 50%;
	    background-color: #710000;
	    margin: 0 auto;
	    border: 5px solid #710000;
	    &.active{
		    border-color: white;
	    }
    }
}
#standby{
	width: 93%;
	margin: 1em auto 0;
	max-width: 606px;
	img{
		max-width: 100%;
		height: auto;
		margin-bottom: 1em;
	}
	button{
		background-color: #475ae7;
		display: block;
		width: 93%;
		margin: 0 auto;
		outline: 0;
		padding: 0;
		border: 0;
		height: 75px;
		color: white;
		font-family: 'DINNeuzeitGroteskStd-BdCond';
		font-size: 1.5em;
		border: 0.25em solid #8d0802;
		margin-bottom: 0.5em;
		text-shadow: 2px 2px 3px #000;
		-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		-moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		background: #19155e; /* Old browsers */
		@include transition(border-color, 0.15s, ease-out);
		background: -moz-linear-gradient(top, #19155e 0%, #281fb6 50%, #19155e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #19155e 0%,#281fb6 50%,#19155e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #19155e 0%,#281fb6 50%,#19155e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19155e', endColorstr='#19155e',GradientType=0 ); /* IE6-9 */
		&.active{
			border-color: white;
		}
	}
}
#login_area{
	margin-top: 1em;
	form{
		width: 93%;
		margin: 0 auto;
		span.error{
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			color: red;
			display: block;
			margin-bottom: 0.5em;
			position: relative;
			top: -0.5em;
		}
		input[type="text"], input[type="number"]{
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: 50px;
			margin-bottom: 0.5em;
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			font-size: 1.5em;
		}
		input[type="submit"]{
			background-color: #475ae7;
			display: block;
			width: 100%;
			margin: 0 auto;
			outline: 0;
			padding: 0;
			border: 0;
			height: 50px;
			color: white;
			font-family: 'DINNeuzeitGroteskStd-BdCond';
			font-size: 1.5em;
			border: 0.25em solid #8d0802;
			margin-bottom: 0.5em;
			text-shadow: 2px 2px 3px #000;
			-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
			-moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
			box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
			background: #19155e; /* Old browsers */
			@include transition(border-color, 0.15s, ease-out);
			background: -moz-linear-gradient(top, #19155e 0%, #281fb6 50%, #19155e 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #19155e 0%,#281fb6 50%,#19155e 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #19155e 0%,#281fb6 50%,#19155e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19155e', endColorstr='#19155e',GradientType=0 ); /* IE6-9 */
			&:hover, &:focus{
				border-color: white;
			}
		}
	}
}
#spincount{
	background-image: url(../img/onlyspins_display.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	#counter{
		font-family: 'DINNeuzeitGroteskStd-BdCond';
		color: white;
		font-size: 2.5em;
		display: block;
		text-shadow: 2px 2px 3px #000;
		padding-top: 0.12em;
	}
}
#answer_area{
	margin-top: 1em;
	button{
		background-color: #475ae7;
		display: block;
		width: 93%;
		margin: 0 auto;
		outline: 0;
		padding: 0;
		border: 0;
		height: 75px;
		color: white;
		font-family: 'DINNeuzeitGroteskStd-BdCond';
		font-size: 1.5em;
		border: 0.25em solid #8d0802;
		margin-bottom: 0.5em;
		text-shadow: 2px 2px 3px #000;
		-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		-moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.6);
		background: #19155e; /* Old browsers */
		@include transition(border-color, 0.15s, ease-out);
		background: -moz-linear-gradient(top, #19155e 0%, #281fb6 50%, #19155e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #19155e 0%,#281fb6 50%,#19155e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #19155e 0%,#281fb6 50%,#19155e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19155e', endColorstr='#19155e',GradientType=0 ); /* IE6-9 */
		&.active{
			border-color: white;
		}
		&.correct{
			background: #0d6114; /* Old browsers */
			background: -moz-linear-gradient(top, #0d6114 0%, #29d138 50%, #0d6114 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #0d6114 0%,#29d138 50%,#0d6114 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #0d6114 0%,#29d138 50%,#0d6114 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6114', endColorstr='#0d6114',GradientType=0 );
			border-color: white;
		}
		&.wrong{
			background: #4b1c1b; /* Old browsers */
			background: -moz-linear-gradient(top, #4b1c1b 0%, #a52314 50%, #4b1c1b 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #4b1c1b 0%,#a52314 50%,#4b1c1b 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #4b1c1b 0%,#a52314 50%,#4b1c1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b1c1b', endColorstr='#4b1c1b',GradientType=0 ); /* IE6-9 */
		}
	}
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes burstfade {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* Standard syntax */
@keyframes burstfade {
  from {opacity: 1;}
  to {opacity: 0;}
}
@-webkit-keyframes buzzerpress {
  from {top: 20.3%;}
  to {top: 19.2%}
}

/* Standard syntax */
@keyframes buzzerpress {
  from {top: 20.3%;}
  to {top: 19.2%}
}
@keyframes blinkPod {
  0%   {background-image: url(../img/spins_notbuzz.png);}
  50%  {background-image: url(../img/spins_buzz.png);}
  100% {background-image: url(../img/spins_notbuzz.png);}
}
@keyframes blinkscorePod {
  0%   {background-image: url(../img/onlyscore_empty.png);}
  50%  {background-image: url(../img/onlyscore_empty_standby.png);}
  100% {background-image: url(../img/onlyscore_empty.png);}
}